body {
    text-align: center;
    line-height: 1.5em;
    background-color: #DBD9CE;
}

h1 {
    font-family: Georgia;
    margin-bottom: .5em;
}

#error {
    font-style: italic;
    color: red;
}

#password {
    font-weight: bolder;
    color: #355e3b;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 1em;
    padding: .75em;
    background-color: yellow;
    border: 5px dashed #355e3b;
}

label {
    font-size: 1.25em;
    margin-bottom: 1.5em;
}
input[type="text"] {
    margin-top: .75em;
}
